/* src/pages/AboutPage.css */
.about-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: #a0c4ec;
    border-radius: 12px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .about-container h1 {
    font-size: 1rem;
    color: #243146;
  }
  
  .about-container p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #333;
  }
  
  .features h2 {
    margin-top: 2rem;
    color: #52ab98;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
  }
  
  .features li {
    font-size: 1.1rem;
    padding: 0.5rem;
  }
  
  .final-line {
    margin-top: 2rem;
    font-weight: bold;
    color: #116466;
  }
 .h1 {
  font-size: 0.5rem;
 } 