.incident-card {
    margin-top: 30px;
    padding: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .incident-card:hover {
    transform: translateY(-3px);
  }
  
  .incident-card a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #ffffff;
    color: rgb(69, 55, 55);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .incident-card a:hover {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(37, 99, 235, 0.6);
  }
  
 .incident-section {
    color: rgb(100, 76, 76);
 }